*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

body{
    background-color: white;
}
.article{
    
    
    
    display: flex;
    
    justify-content: left;
   
    
    
    
}

/*margini*/
.m_70{
    margin: 70px;
 
}
.m_30{
    margin: 30px;
 
}
.m_0{
      margin: 10px ;
      border-style: solid;
      border-width: 1px;

}
/*texto*/
.align_c{
    text-align: center;

}
.text_upper{
    text-transform: uppercase;

}


.text_red{
    color: red;
}
/*altezze*/
.h_400{
    height: 500px;
    
}
/*lunghezze*/
.w_100{
    width: 100;
}